<fieldset class="info">
<legend>Sample Details</legend>
<table class="info">
    <tr>
      <th>Barcode:</th><td colspan="3"><%=h sample.barcode_key %></td>
	</tr>
	<tr>
      <th>Sample Name:</th><td><%=h sample.sample_name %></td>
	  <th>Sample Date:</th><td><%=h sample.sample_date %></td>
	</tr>	
    <tr>
      <th>Organism:</th><td><%=h sample.organism %></td>    
      <th>Strain:</th><td><%=h sample.strain %></td>
    </tr>
    <tr> 
	  <th>Sex:</th><td><%=h sample.sex %></td>
	  <th>Age(in weeks):</th><td><%=h sample.age_in_weeks %></td> 
	</tr>
	<tr>
	  <th>Intestinal region:</th><td><%=h sample.intestinal_region %></td>
      <th>Intestinal region definition:</th><td><%=h sample.intestinal_region_definition %></td>
    </tr>
    <tr>
	  <th>Intestinal SC marker:</th><td colspan="3"><%=h sample.intestinal_sc_marker %></td>
	</tr>	
	<tr>
	  <th>Number of cells:</th><td><%=h sample.number_of_cells %></td>
      <th>FACS protocol:</th><td><%=h sample.facs_protocol_id %></td>
    </tr>
    <tr>	  
	  <th>SC marker validation method:</th><td><%=h sample.sc_marker_validation_method %></td>
	  <th>SC validation results:</th><td><%=h sample.secondary_validation_results %></td>
    </tr>
    <tr>
      <th>Comments:</th><td colspan=3><%=h sample.comments %></td>
    </tr>
    <tr>
      <td colspan="4" align="center"><div class="linkborder no-wrap-line" style="width:30%; background: #fff;"><%= link_to 'View Sample Results', '' %></div></td>
    </tr>
</table>
</fieldset>