<span class="form_title">Sample Details:</span>
<table class="form01">
    <tr>
      <th><%=f.label :barcode %></th>
	  <th><%=f.label :sample_name %></th>
      <th><%=f.label :sample_date %></th>	
	</tr>
	<tr>
	  <td><%=f.text_field(:barcode_key) %></td>
	  <td><%=f.text_field(:sample_name) %></td>
	  <td><%=f.calendar_date_select(:sample_date, :valid_date_check => "date <= (new Date()).stripTime()") %></td>
	</tr>

    <tr>
      <th><%=f.label :organism %></th>    
      <th><%=f.label :strain %></th> 
	  <th><%=f.label :sex %></th>
	  <th><%=f.label :age_in_weeks %></th> 
	<tr>
	  <td><%=f.text_field(:organism) %></td>
	  <td><%=f.text_field(:strain) %></td>
	  <td><%=f.text_field(:sex) %></td>
	  <td><%=f.text_field(:age_in_weeks) %></td>
    </tr>
	</tr>
	
	<tr>
	  <th><%=f.label :intestinal_region %></th>
      <th><%=f.label :intestinal_region_definition %></th>
	  <th><%=f.label :intestinal_sc_marker %></th> 
	</tr>
	<tr>
	  <td><%=f.text_field(:intestinal_region) %></td>
	  <td><%=f.text_field(:intestinal_region_definition) %></td>
	  <td><%=f.text_field(:intestinal_sc_marker) %></td>
	</tr>
	
	<tr>
      <th><%=f.label :isolation_protocol %></th> 
      <th><%=f.label :facs_protocol %></th>
	  <th><%=f.label :sc_marker_validation_method %></th>
    </tr>
	<tr>
	  <td><%=f.text_field(:isolation_protocol_id) %></td>
	  <td><%=f.text_field(:facs_protocol_id) %></td>
	  <td><%=f.text_field(:sc_marker_validation_method) %></td>
	</tr>
	
    <tr>
      <th><%=f.label :comments %></th>
      <td colspan=6><%=f.text_area :comments, :cols => 85, :rows => 2 %></td>
    </tr>
</table>
