<fieldset class="form">
<legend>Shipment Details debug</legend>
<table class="form">	
    <tr>
      <th><%=f.label :date_shipped, 'Ship Date' %>:</th>
	  <td><!--%=f.calendar_date_select(:date_shipped, :size => 15, :valid_date_check => "date <= (new Date()).stripTime()") %-->
      <%=f.datepicker 'date_shipped', dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, minDate: "-1y", maxDate: "0", size: 15 %>
	  </td>
	  <th><%=f.label :fedex_tracking_nr, 'FedEx tracking number' %>:</th>
	  <td><%=f.text_field(:fedex_tracking_nr, :size => 30) %></td>
	</tr>
	
	<% if !f.object.new_record? && current_user.has_admin_access? %>
	<tr>
	  <th><%=f.label :date_received %>:</th>
      <td><!--%=f.calendar_date_select(:date_received, :size => 15, :valid_date_check => "date <= (new Date()).stripTime()") %-->
      <%=f.datepicker 'date_received', dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, minDate: "-1y", maxDate: "0", size: 15 %>
      </td>
	  <td colspan=2></td>
	</tr>
	<% end %>
	
    <tr>
      <th>Comments:</th>
      <td colspan="3"><%=f.text_area :comments, :cols => 45, :rows => 2 %></td>
    </tr>
</table>
</fieldset>
<%= render :partial => 'shipment_checklist', :locals => {:f => f, :sample => sample} %>
