<h3>Editing sample</h3>

<% form_for(@sample) do |f| %>
  <%= f.error_messages %>
  
  <span class="form_title">Sample Details:</span>
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
  <div id="ship_ask">
  <%= link_to_function 'Edit Shipment Details', toggle_div(:ship_edit, :ship_ask) %> 
  </div>

  <div id="ship_edit", style="display:none">
	<% f.fields_for :shipment do |s| %>
	  <%= s.error_messages %>	  
      <%= render :partial => 'shipment_form', :locals => {:s => s, :sample => @sample} %>
	<% end %>
  </div>
  
  <p><%= f.submit 'Update' %></p>
<% end %>
  