<h1>Editing sample</h1>

<% form_for(@sample) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
  <%= break_clear %>
  
  <% if @sample.shipment %>
  <div id="ship_ask">
  <%= link_to_function 'Edit Shipment Details', div_toggle(:ship_edit, :ship_ask) %> 
  </div>
  <% end %>

  <div id="ship_edit", style="display:none">
	<% f.fields_for :shipment do |s| %>
	  <%= s.error_messages %>	  
      <%= render :partial => 'shipment_form', :locals => {:f => s, :sample => @sample} %>
	<% end %>
  </div>
  
  <%= break_clear(f.submit 'Update') %>
<% end %>
  