<h3>Editing sample</h3>

<% form_for(@sample) do |f| %>
  <%= f.error_messages %>
  
  <span class="form_title">Sample Details:</span>
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
    <% f.fields_for :shipment do |s| %>
	  <%= s.error_messages %>
	  
      <%= render :partial => 'shipment_form',   :locals => {:f => s} %>
  
	<% end %> 
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>