<h1>New sample</h1>

<%= form_for @sample, :url => {:action => 'create'} do |f| %>
  <% @sample.errors.full_messages.each do |msg| %>
    <p>Error: <%= msg %></p>
  <% end %>
 
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
  <%= raw break_clear(f.submit "Save") %>
  
  <%= link_to 'List All', samples_path %>
  
<% end %>
  