<br />
<%= render :partial => 'sample_show', :locals => {:sample => @sample} %>

<div id="ship_ask">
<%= link_to "Ship Sample", '', :onclick => "showHideDiv('ship_ask','ship_samples'); return false;" %> | 
<%= link_to 'Edit sample', edit_sample_path(@sample) %>
</div>

<div id="ship_samples", style="display:none">
  <%= form_for(@sample, :action => :update) do |f| %>
  
  <%= f.fields_for :shipment do |s| %>
    <%= render :partial => 'shipment_form', :locals => {:f => s, :sample => @sample} %>
  <% end %>
  <%= raw break_clear %> 
  <%= f.submit "Update" %>
  <% end %>
</div>
