<span class="table_title">Sample Details:</span>
<%= render :partial => 'sample_show', :locals => {:sample => @sample} %>

<div id="ship_ask">
<%= link_to_function 'Ship sample', toggle_div(:ship_samples, :ship_ask) %> | 
<%= link_to 'Edit sample', edit_sample_path(@sample) %>
</div>

<div id="ship_samples", style="display:none">
  <% form_for(@sample, :action => :update) do |f| %>
  
  <% f.fields_for :shipment do |s| %>
    <%= render :partial => 'shipment_form', :locals => {:f => s, :sample => @sample} %>
  <% end %>
  
  <%= f.submit "Update" %>
  <% end %>
</div>
