<h1>Show Samples</h1>

<%= render :partial => 'sample_show', :locals => {:sample => @sample} %>
<% if @sample.shipment %>
<%= render :partial => 'shipment_show', :locals => {:shipment => @sample.shipment} %>
<% end %>
<%= raw break_clear %>
<% if can? :new, Sample %><%= link_to 'New sample', new_sample_path %> | <% end %>
<% if can? :edit, @sample %>
<%= link_to 'Edit', edit_sample_path(@sample) %> | 
<% end %>
<%= link_to 'List All', samples_path %>