<h1>New Authorized User</h1>

<%= form_for(@auth_user) do |f| %>
  <% @auth_user.errors.full_messages.each do |msg| %>
    <p>Error: <%= msg %></p>
  <% end %>

  <%= render :partial => 'auth_user', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'List All', auth_users_path %>
