<h1>Show Authorized User</h1>
<fieldset class="info">
<legend>User Info</legend>
<table class="info">
  	<tr>
  	  <th>Lab name:</th>
	  <td><%=h @auth_user.lab.lab_name %></td>
	</tr>
	
	<tr>
	  <th>User name:</th>
      <td><%=h @auth_user.name %></td>
	</tr>
    
	<tr>
	  <th>Email: </th>
      <td><%=h @auth_user.email %></td>
	</tr>
	
	<tr>
	  <th>Notes: </th>
      <td><%=h @auth_user.notes %></td>
	</tr>
	
	<tr>
	  <th>User login:</th>
      <td><%=h (@auth_user.user ? @auth_user.user.login : 'N/A') %></td>
	</tr>
  </table>
</fieldset>
<%= raw break_clear %>
<%= link_to 'New Auth User', new_auth_user_path %> |
<%= link_to 'Edit', edit_auth_user_path(@auth_user) %> |
<%= link_to 'List All', auth_users_path %>
