<h1>Reset password request</h1>

<%= form_for @user do |f| -%>

  <% @user.errors.full_messages.each do |msg| %>
    <p>Error: <%= msg %></p>
  <% end %>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p> <%=link_to 'Cancel', login_path %>
	<%= submit_tag 'Submit' %></p>
<% end -%>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
