<h1>Editing Sequencing Run <%=h @seq_run.id_name %></h1>
<p class="notes">Note: Changes to lane number are limited to switching lanes - cannot add or delete samples/lane
   once sequencing run has been created. </p>

<%= form_for(@seq_run) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'seq_run_form', :locals => {:f => f}%> 
  <%= hidden_field_tag(:lane_count, @seq_run.seq_lanes.size)%>
  <%= break_clear %>

<fieldset class="form">
  <table class="form-with-columns">
    <tr>
      <th>Lane</th>
	  <th>Lab ID</th>
	  <th>Lab Name</th>
	  <th>Sample ID</th>
	  <th>Sample Name</th>
    </tr>

    <% f.fields_for :seq_lanes do |n| %>
      <tr>
      	<td><%= n.text_field(:lane_nr, :size => 4) %></td>
      	<td><%=h n.object.lab_id %></td>
	    <td><%=h n.object.lab.lab_name %></td>
	    <td><%=h n.object.sample_id %></td>
	    <td><%=h n.object.sample.sample_name %></td>
      </tr>
	<% end %>
  </table>
</fieldset> 
<%= break_clear(f.submit "Update") %>
<% end %>
