<h1>New Sequencing Run</h1>

<%= form_for(@seq_run) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'seq_run_form', :locals => {:f => f} %>
  
<%= break_clear('<div class="notes">Note: to assign a sample to multiple lanes, separate the lane numbers with commas (eg. 1,2)</div>') %>
<fieldset class="form">
  <legend>Lanes</legend>
  <table class="form-with-columns">
    <tr>
      <th>Lane</th>
	  <!--th>Lab ID</th-->
	  <th>Lab Name</th>
	  <th>Sample Barcode</th>
	  <th>Sample Name</th>
    </tr>

    <% @seq_lanes.each_with_index do |seq_lane, i| %>
      <tr><%= render :partial => 'seq_lane_form', :locals => {:sample => @samples[i],
                                                              :seq_lane => seq_lane } %></tr>
	<% end %>
  </table>
</fieldset>  
<%= break_clear(f.submit "Create") %>
<% end %>
  
<%= link_to 'Back', :back %>