  <% @hdg_text = (@new_or_upd == 'New' ? 'New sample' : 'Shipment') %>
  <% @upd_text = (@new_or_upd == 'New' ? '' : '/updated') %>
  <p><%=h @hdg_text %> from: <%=h @sample.lab.lab_name %> entered<%=h @upd_text %> by: <%=h @user_login %> on: <%=h @sample.created_at %></p>
  
  <span><b><u>Sample Details:</u></b></span>
  <table>
    <tr>
      <th>Barcode</th><td><%=h @sample.barcode_key %></td>
      <th>Sample Name</th><td><%=h @sample.sample_name %></td>
	  <th>Sample Date</th><td><%=h @sample.sample_date %></td>
	</tr>
	
    <tr>
      <th>Organism</th><td><%=h @sample.organism %></td>    
      <th>Strain </th><td><%=h @sample.strain %></td> 
	  <th>Sex </th><td><%=h @sample.sex %></td>
	  <th>Age(in weeks) </th><td><%=h @sample.age_in_weeks %></td> 
	<tr>

	<tr>
	  <th>Intestinal region </th><td><%=h @sample.intestinal_region %></td>
      <th>Intestinal region definition </th><td><%=h @sample.intestinal_region_definition %></td>
	  <th>Intestinal SC marker </th><td><%=h @sample.intestinal_sc_marker %></td>
	</tr>
	
	<tr>
      <th>FACS protocol</th><td><%=h @sample.facs_protocol_id %></td>
	  <th>SC marker validation method </th><td><%=h @sample.sc_marker_validation_method %></td>
	  <th>SC validation results</th><td><%=h @sample.secondary_validation_results %></td>
    </tr>

    <tr>
      <th>Comments </th><td colspan=6><%=h @sample.comments %></td>
    </tr>
</table>

<br/>

<span><b><u>Shipment Details:</u></b></span>
<table>
  <tr>
    <th>Date Shipped</th><td><%=h @shipment.date_shipped %></td>
    <th>Date Received</th>
	<td><%=h @shipment.date_received_or_na %></td>
	<th>FedEx Tracking#</th><td><%=h @shipment.fedex_tracking_nr %></td>
  </tr>	
  <tr>
    <th>Comments</th><td><%=h @shipment.comments %></td>
  </tr>
</table>