<% form_tag(:action => :check_chosen_lab) do %>
  <% lab_list.each do |lab| %>
    <%= radio_button_tag("lab[id]", lab.id) %>
    <%= lab.lab_name %><br />   
  <% end %>
  <p><%= submit_tag "Go" %></p>
<% end %>

<%
=begin %>
<% form_tag(:action => :check_chosen_lab) do %>
  <%= collection_select(:lab, :id, lab_list, :id, :lab_name, {:include_blank => 'Select Lab'}) %>
  <%= submit_tag "Go" %>
<% end %>
<%
=end %>