<h3>debug: list of hashes - each one is a file</h3>
<% file_hash_list.each do |file| %>
  <h3>New Record:</h3>
  <% file.each_pair do |key, value| %>
    <%= key %> => <%= value %>, 
  <% end %>
<% end %>

<table class="form-with-columns" border="0">
    <tr>
      <th>Filename</th>
      <th>File Size</th>
      <th>Content Type</th>
      <th>Lab ID</th>
      <th>User Name</th>
    </tr>

    <!--% file.each do |item| %-->
    <% @file_system_list.each do |file| %>
    <tr>
      <td><%= h file[0] %></td>
      <td><%= h file[1] %></td>
      <td><%= h file[2] %></td>
      <td><%= h file[3] %></td>
      <td><%= h file[4] %></td>
   </tr>
   <% end %>
</table>
