<table class="form-with-columns" border="0">
    <tr>
      <th>Filename</th>
      <th>File Size</th>
      <th>Content Type</th>
      <th>Lab ID</th>
      <th>User Name</th>
    </tr>

    <!--% file.each do |item| %-->
    <% @file_system_list.each do |file| %>
    <tr>
      <td><%= h file[0] %></td>
      <td><%= h file[1] %></td>
      <td><%= h file[2] %></td>
      <td><%= h file[3] %></td>
      <td><%= h file[4] %></td>
   </tr>
   <% end %>
</table>
