<% @result_files_checked.each do |attr, val| %>
  <%= attr %>: 
  <% val.each do |x| %>    
     <%= x %>,   
  <% end %>
  <br />    
<% end %>
<p></p>
<% @result_files.each do |attr, val| %>
  <%= attr %>:      
  <% val.each do |x| %>    
      <%= x %>,   
  <% end %>
  <br />
<% end %>

Params: <%= debug(params) %>

