<h1>Link Sequence Result Files to Lanes</h1>
<h2>Source Lab: <%= @chosen_lab.lab_name %></h2>

<%
=begin %>
<h3>Debug: Results on Filesystsem</h3>
<% @results_on_filesystem.each do |file|%>
  <%= file[:document] %><br />
<% end %>
<br />
<h3>Debug: Results in Database before save</h3>
<% @result_files_before_save.each do |file|%>
  <%= file[:document] %><br />
<% end %>
<br />
<h3>Debug: Files that already exist in DB</h3>
<% @exist_in_db.each do |document|%>
  <%= document %><br />
<% end %>
<br />
<%
=end %>

<% if (@files_saved != 0) %>
<fieldset class="info">
<label>New Files</label>
<ul>
<% @new_files.each do |document|%>
  <li><%= document %></li>
<% end %>
</ul>
</fieldset>
<% else %>
<h3>No new files</h3>
<% end %>
<%= break_clear %>
<% form_tag(:controller => 'result_files', :action => 'choose_lab') do %>
  <%= submit_tag "Choose Another Lab" %>
<% end %>
<br />
<fieldset class="form">
<legend>Link Result Files to Lanes</legend>
<% form_for(@result_files, :url => {:action => :update_multi}) do |result_file| %>
<!--% form_for(@result_files, :url => {:action => :debug}) do |result_file| %-->
<table class="form-with-columns" border="0">
    <tr>
      <th>Filename</th>
      <th>Select Lane(s)</th>     
      <th>Content Type</th>
      <th>File Size</th>
      <th>Updated By</th>
      <th>Lab</th>
      <th>Notes</th>
    </tr>
    <% @result_files.each do |file| %>
    <tr>
      <% fields_for 'result_files[]', file do |f| %>
      <%= f.hidden_field(:id, :value => file.id) %>
      <%= hidden_field_tag("chosen_lab[id]", params[:lab_id]) %>
      <td><%= h file.document %></td>                                         
      <td><%= f.collection_select(:seq_lane_ids, @seq_lanes, :id, :run_lane_sample, {:selected => file.seq_lane_ids},
                                {:multiple => :true, :name => "result_files[#{file.id}]seq_lane_ids[]", :size=> 4}) %></td>
      <td><%= h file.document_content_type %></td>
      <td><%= h file.document_file_size %></td>
      <td><%= h file.user.login %></td>
      <td><%= h file.lab.lab_name %></td>
      <td><%= f.text_area(:notes, :rows => 3, :cols => 20) %><% if (!file.notes.blank?) %><% h file.notes %><% end %></td>
     <% end %>
    </tr>    
    <% end %>   
</table>
</fieldset>
<%= break_clear(submit_tag "Submit") %>
<% end %>



