<h1>Sample Sequence Results</h1>

<h3>debug: List from result_files table</h3>
<% @results.each do |result| %>

       <%=h result.document %><br />
   
<% end %>
<br />

<%= break_clear %>

<h3>debug: current user lab foldername: <%=h @user_lab_folder %></h3>

<%= break_clear %>

<% form_for('') do |f| %>
<table class="form-with-columns" border="0">
    <tr>
      <th>Link to Sample</th>
      <th>Select Sample(s)</th>
      <th>Filename</th>
      <th>Content Type</th>
      <th>File Size</th>
      <th>Updated By</th>
      <th>Notes</th>
    </tr>
    <% @file_list.each do |file, size, type| %>
    <tr>
      <td><%= f.check_box('link_status') %></td>
      <td><%= f.collection_select("sample_id[]", @samples, :id, :sample_name,
                      {}, {:size => 3, :multiple => :multiple})%></td>                        
      <td><%= h file %></td>
	  <%= hidden_field_tag(:document, file) %>
      <td><%= h type %></td>
	  <%= hidden_field_tag(:document_content_type, type) %>
      <td><%= h size %></td>
	  <%= hidden_field_tag(:document_file_size, size) %>
      <td></td>
      <td><%= f.text_area :notes, :cols => 15, :rows => 2 %></td>
    </tr>   
    <% end %>   
</table>
<%= break_clear(f.submit "Save") %>
<% end %>
<%= link_to 'Samples List', samples_path %>
