<h1>Listing Result Files for <%=h current_user.lab.lab_name %></h1>

<table class="list">
  <tr>
     <th>Result File</th>
	 <th>Samples(barcode/name)</th>
	 <th>Notes</th>
  </tr>
  
  <% @result_files.each do |rfile| %>
  <% next if rfile.seq_lanes.blank? %>
  
  <% sample_array = rfile.seq_lanes.map {|lane| [lane.sample.barcode_key, lane.sample.sample_name].join('/')} %>
  <% samples_string = sample_array.join('<br/>')%> 
  <tr>
  	<td><strong><%= link_to rfile.document, rfile %></strong></td>
	<td><%= samples_string %></td>
	<td><%=h rfile.notes %></td>
  </tr>
  <% end %>
</table>

<% @fastqc_access.each do |x,y| %>

  <%= "key=#{x}, value=#{y}" %><br />

<% end %>

<% if !@fastqc_access.empty? %>
<table class="list">
  <tr>
  	<th>Sample Barcode</th>
	<th>FastQC File</th>
  </tr>
  
  <% @fastqc_access.each do |key, value| %>
  <% barcode = value.scan(/(.*)_fastqc$/) %>
  <tr>
  	<td><%=h barcode %></td>
	<td><%= link_to 'Show FastQC', {:action => :fastqc_show, :src => key} %></td>
  </tr>
  <% end %>
<% end %>
</table>
