<h1>Listing Result Files for <%=h current_user.lab.lab_name %></h1>

<table class="list" width="75%">
  <tr>
     <th>Result File</th>
	 <th>Samples(barcode/name)</th>
	 <th>Notes</th>
	 <th></th>
  </tr>
  
  <% @result_files.each do |rfile| %>
  <% next if rfile.samples.blank? %>
  
  <% sample_array = rfile.samples.map {|sample| [sample.barcode_key, sample.sample_name].join('/')} %>
  <% samples_string = sample_array.join('<br/>')%> 
  <tr>
  	<td><strong><%= link_to rfile.document, rfile %></strong></td>
	<td><%= samples_string %></td>
	<td><%=h rfile.notes %></td>
	<td><%=link_to 'Download', :action => 'download', :id => rfile.id %></td>
  </tr>
  <% end %>
</table>

