<h1>Listing Result Files</h1>

<table class="list" width="75%">
  <tr>
     <th>Result File</th>
	 <th>Samples(barcode/name)</th>
	 <th>File Size(MB)</th>
	 <th>Notes</th>
	 <th></th>
  </tr>
  
  <% @result_files.sort.each do |lab_name, result_files| %>
  <tr>
    <th colspan="16">Lab: <%=h lab_name %></th>
  </tr>
  
  <% sorted_rfiles = result_files.sort_by{|f| f.document } %>
  <% sorted_rfiles.each do |rfile| %>
  <% next if rfile.samples.blank? %>
  
  <% sample_array = rfile.samples.map {|sample| [sample.barcode_key, sample.sample_name].join('/')} %>
  <% samples_string = sample_array.join('<br/>')%> 
  <tr>
  	<% if rfile.document_content_type.nil? || ['gz', 'bam'].include?(rfile.document_content_type) || rfile.document_file_size.to_i > 36000000 %>
	<td><%=h rfile.document %></td>
	<% else %>
  	<td><strong><%= link_to rfile.document, rfile %></strong></td>
	<% end %>
	<td><%= raw samples_string %></td>
	<td><%= rfile.fileMB %></td>
	<td><%=h rfile.notes %></td>
	<td><%=link_to 'Download', :action => 'download', :id => rfile.id %></td>
  </tr>
  <% end %>
  <% end %>
</table>

