<h1>Link Sample Sequence Results</h1>

<h3>debug: List from result_files table</h3>
<% @results.each do |result| %>

       <%=h result.document %><br />
   
<% end %>
<br />

<%= break_clear %>

<h3>debug: current user lab foldername: <%=h @user_lab_folder %></h3>

<%= break_clear %>

<% form_tag(:action => :create_multi) do  %>
<table class="form-with-columns" border="0">
    <tr>
      <th>Link to Sample</th>
      <th>Select Sample(s)</th>
      <th>Filename</th>
      <th>Content Type</th>
      <th>File Size</th>
      <th>Updated By</th>
      <th>Notes</th>
    </tr>
    <% @i=0 %>
    <% @file_list.each do |file, size, type| %>
    <tr>
      <td><%= check_box_tag("result_files[checked_file][]", @i+=1) %></td>
      <td><%= collection_select(:result_files, :id, @samples, :id, :barcode_and_name,
                      {}, {:size => 4, :multiple => :multiple})%></td>                        
      <td><%= h file %></td>
	  <%= hidden_field_tag("result_files[document][]", file) %>
      <td><%= h type %></td>
	  <%= hidden_field_tag("result_files[document_content_type][]", type) %>
      <td><%= h size %></td>
	  <%= hidden_field_tag("result_files[document_file_size][]", size) %>
      <td></td>
      <td><%= text_area_tag("result_files[notes][]", nil, :rows => 3, :cols => 15) %></td>
    </tr>   
    <% end %>   
</table>
<%= break_clear(submit_tag "Save") %>
<% end %>
<%= link_to 'Samples List', samples_path %>
