<h1>Link Sample Sequence Results</h1>

<h3><em>All</em> Result Files on Filesystem for <%=h current_user.lab.lab_name %></h3>

<%= render :partial => 'list_result_files', :locals => {:files_hash_list => @files_from_filesystem} %>

<div id='view_files'>
  <% form_tag do  %>
    <%= submit_to_remote 'ResultFile', 'Add New Files to Database',
      :url => {:action => 'read_files_create'},
      :update => 'view_files' %>
  <% end %>
    <%= break_clear %>    
    <%= render :partial => 'link_files_to_samples_form', :locals => {:file_info => @results, :heading => 'Result Files Before Adding New'} %>
</div>

<%= break_clear %>

<%= link_to 'Samples List', samples_path %>
