<h1>Result Files Linked to Lanes</h1>
<fieldset class="info">
<legend>File and Lane/Sample Info</legend>
<table class="info">
<% @result_files.each do |rfile| %>
  <tr>
  	<th>Document:</th><td><%= rfile.document%></td>
  </tr>
  <tr>
    <th>Run/Lane/Sample: </th>
	<td>
	<% rfile.seq_lanes.each do |lane| %>
	    Run #: <%= lane.seq_run_nr %>, 
      	Lane #:<%= lane.lane_nr %>, 
		Sample barcode:<%= lane.sample.barcode_key %><br />
    <% end %>
	</td>
  </tr>
  <tr>
    <th>Notes:</th><td><%= rfile.notes %></td>
  </tr>
  <tr>
    <td colspan="2"><hr /></td>
  </tr>
<% end %>
</table>
</fieldset>

<%= break_clear %>
<% form_tag(:controller => 'result_files', :action => 'choose_lab') do %>
  <%= submit_tag "Link More Files" %>
<% end %>
<br />

