<h1>Result Files Linked to Samples for <%= @chosen_lab.lab_name %></h1>

<table class="list">
  <tr>
     <th>Result File</th>
	 <th>Samples</th>
	 <th>Notes</th>
  </tr>
  
  <% @result_files.each do |rfile| %>
  <% next if rfile.samples.blank? %>
  
  <% sample_array = rfile.samples.map {|sample| [sample.barcode_key, sample.sample_name].join('/')} %>
  <% samples_string = sample_array.join('<br/>')%> 
  
  <tr>
  	<td><strong><%= link_to rfile.document, rfile %></strong></td>
	<td><%= samples_string %></td>
	<td><%=h rfile.notes %></td>
  </tr>
  <% end %>
</table>

<%= raw break_clear %>
<%= form_tag(:controller => 'result_files', :action => 'choose_lab') do %>
  <%= submit_tag "Link More Files" %>
<% end %>
<br />

