<h1>Result Files Linked to Lanes</h1>

<% @result_files.each do |rfile| %>
  <% next if rfile.seq_lanes.blank? %>
  <strong>Document Name: <%= link_to rfile.document, rfile %></strong>  
    <% rfile.seq_lanes.each do |lane| %>
    <ul>
      <li>Seq Run #: <%= lane.seq_run_nr %></li>
      <li>Lane #: <%= lane.lane_nr %></li>
      <li>Sample Info: 
        <ul>
          <li>Name - <%= lane.sample.sample_name %></li>
          <li>Barcode - <%= lane.sample.barcode_key %></li>
          <li>SC Marker Validation - <%= lane.sample.sc_marker_validation_method %></li>
        </ul>
      </li>
    </ul>
    <% end %><!-- # do lane -->
  <strong>Notes:</strong> <%= rfile.notes if !rfile.notes.blank? %>
  <hr />
<% end %><!-- # do rfile -->

	       
<%
=begin %>
<fieldset class="info">
<legend>File and Lane/Sample Info</legend>
<table class="info">
<% @result_files.each do |rfile| %>
  <tr>
    <th>Lab:</th><td><%= rfile.lab.lab_name%></td>
  </tr>
  <tr>
  	<th>Document:</th><td><%= rfile.document%></td>
  </tr>
  <tr>
    <th>Run/Lane/Sample: </th>
	<td>
	<% rfile.seq_lanes.each do |lane| %>
	    Run #: <%= lane.seq_run_nr %>, 
      	Lane #:<%= lane.lane_nr %>, 
		Sample barcode:<%= lane.sample.barcode_key %><br />
    <% end %>
	</td>
  </tr>
  <tr>
    <th>Notes:</th><td><%= rfile.notes %></td>
  </tr>
  <tr>
    <td colspan="2"><hr /></td>
  </tr>
<% end %>
</table>
</fieldset>
<%
=end %>

<%= break_clear %>
<% form_tag(:controller => 'result_files', :action => 'choose_lab') do %>
  <%= submit_tag "Link More Files" %>
<% end %>
<br />

