<h1>Show Result Files Linked to Lanes</h1>
<h3>Debug</h3>
<ul>
<% @result_files.each do |rfile| %>
  <li>RESULT FILE: Lab: <%= rfile.lab.lab_name%>, Doc: <%= rfile.document%>, Notes: <%= rfile.notes %>
    <ul>
       <% rfile.seq_lanes.each do |lane| %>
          <li>LANE: lab name: <%= lane.lab.lab_name %>, lane #: <%= lane.lane_nr %>, sample barcode: <%= lane.sample.barcode_key %>, sample name: <%= lane.sample.sample_name %></li> 
       <% end %>
    </ul>  
  </li>
<% end %>
</ul>
<%
=begin %>
<table class="list">
<tr>
    <th>Lab</th>
    <th>Barcode</th>
    <th>Sample Name</th>
    <th>Result Files</th>
</tr>
<% @samples.each do |sample| %>
  <% if (!sample.result_files.blank?) %>
  <tr>
    <td><%= sample.lab.lab_name %></td>
    <td><%= sample.barcode_key %> (debug:id:<%= sample.id %>)</td>
    <td><%= sample.sample_name %></td>
    <td valign="top">
        <ol>
          <% sample.result_files.each do |rfile| %>
          <li><%= link_to rfile[:document], rfile, :action => :download_file %>
             &nbsp;(debug:file type: <%= rfile[:document_content_type] %>,lab id: <%= rfile[:lab_id] %>)                                
          </li>
          <% end %>
        </ol>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<% 
=end %>

<%= break_clear()  %>
<%= link_to 'Back to Result Files List', result_files_path %>

