
<h3>Debug: Params</h3>
<% @debug_list.each do |f| %>
  <%= f.inspect %><br />
<% end %>

<%= break_clear() %>

<!-- this will need to get either the chosen lab or the logged in lab -->
<h3>Choose Sample(s) from Lab: <%= @samples[0].lab_id %></h3>
<% form_tag(:action => :debug) do %>
  <td><%= select_tag("sample_results[][sample_id]", options_from_collection_for_select(@samples, :id, :barcode_and_name), {:multiple => true, :size=> 4}) %>
  <%= break_clear(submit_tag "View Results") %>
<% end %>

<h3>Debug: Results Mapped to Samples</h3>
<% @samples.each do |sample| %>
  <% unless (sample.result_files.blank?) %>
  Sample ID: <%= sample.id %>, Sample Name: <%= sample.sample_name %>, Lab ID: <%= sample.lab_id %>
  <ol>
    <% sample.result_files.each do |rfile| %>
    <li>filename: <%= rfile[:document] %>, lab id: <%= rfile[:lab_id] %></li>
    <% end %>
  </ol>
  <% end %>
<% end %>

